force-app/main/default/flows/SAMPLE_Record_Access.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_Record_Access</name>
        <label>Check Record Access</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>RecordAccessUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Display_Results</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Record_Id_to_Check</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>Select_User</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <dynamicChoiceSets>
        <name>users</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>LastName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>SAMPLE - Record Access {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SAMPLE - Record Access</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Display_Results</name>
        <label>Display Results</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>resulsts</name>
            <fieldText>&lt;p&gt;In User Id: {!Select_User}&lt;/p&gt;&lt;p&gt;Out User Id: {!Check_Record_Access.userId}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;In Record Id: {!Record_Id_to_Check}&lt;/p&gt;&lt;p&gt;Out Record Id: {!Check_Record_Access.recordId}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;HasReadAccess?&lt;/p&gt;&lt;p&gt;{!Check_Record_Access.hasReadAccess}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;HasEditAccess?&lt;/p&gt;&lt;p&gt;{!Check_Record_Access.hasEditAccess}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;HasDeleteAccess?&lt;/p&gt;&lt;p&gt;{!Check_Record_Access.hasDeleteAccess}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;HasTransferAccess?&lt;/p&gt;&lt;p&gt;{!Check_Record_Access.hasTransferAccess}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;HasAllAccess?&lt;/p&gt;&lt;p&gt;{!Check_Record_Access.hasAllAccess}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_Access_Tester</name>
        <label>Record Access Tester</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Record_Access</targetReference>
        </connector>
        <fields>
            <name>checkUserAccessDisplay</name>
            <fieldText>&lt;p&gt;Select an active user and a 15 or 18-digit record Id to check the user&apos;s level of access on the record. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_User</name>
            <choiceReferences>users</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select User</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Record_Id_to_Check</name>
            <dataType>String</dataType>
            <fieldText>Record Id to Check</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Access_Tester</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
